body {
    background-color: #f0f2f5; /* Un gris muy claro */
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #007bff; /* Azul brillante */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
h2 {
    color: #007bff; /* Azul brillante */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
h3 {
    color: #007bff; /* Azul brillante */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
h4 {
    color: #007bff; /* Azul brillante */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
